@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dred {
  border: solid red 1px;
}

.debug {
  border: solid red 1px;
}
.dblue {
  border: solid blue 1px;
}

.dgreen {
  border: solid green 1px;
}

/* .debug >* {
    border: solid green 1px
}
.debug >* >* {
    border: solid blue 1px
} */

/* ###########################My container############################## */

.left {
  background: linear-gradient(45deg, transparent 13px, #eb6440 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cttop {
  background: linear-gradient(315deg, transparent 8px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.crtop {
  background: linear-gradient(45deg, transparent 8px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.crbottom {
  background: linear-gradient(125deg, transparent 8px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.right {
  background: linear-gradient(315deg, transparent 13px, #eb6440 0);
  background-size: 100% 100%;
  background-repeat: no-repeat; /* or absolute */
}

.top {
  background: linear-gradient(140deg, transparent 20px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bottom {
  background: linear-gradient(40deg, transparent 20px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat; /* or absolute */
}

.ltop {
  background: linear-gradient(215deg, transparent 20px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.lbottom {
  background: linear-gradient(325deg, transparent 20px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat; /* or absolute */
}

.ctleft {
  background: linear-gradient(325deg, transparent 8px, #d9e4e5 0);
  background-size: 100% 100%;
  background-repeat: no-repeat; /* or absolute */
}

@media (max-height: 420px) {
  .hide {
    clip-path: polygon(0 0, 0 0, 0 0);
  }
}

.min-body {
  min-height: 600px;
}

/* #################################My card################################# */

.my_card {
  background: linear-gradient(0deg, transparent 0, #f0f5f5 0) top right,
    linear-gradient(315deg, transparent 7%, #f0f5f5 0) bottom right,
    linear-gradient(135deg, transparent 7%, #f0f5f5 0) top left,
    linear-gradient(0deg, transparent 0%, #f0f5f5 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.my_card .center {
  background: linear-gradient(0deg, transparent 0, #d9e4e5 0) top right,
    linear-gradient(315deg, transparent 6%, #d9e4e5 0) bottom right,
    linear-gradient(135deg, transparent 6%, #d9e4e5 0) top left,
    linear-gradient(0deg, transparent 0%, #d9e4e5 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ################################# My card one corner ################################# */

.my_card_one_corner {
  background: linear-gradient(0deg, transparent 0, #f0f5f5 0) top right,
    linear-gradient(315deg, transparent 0%, #f0f5f5 0) bottom right,
    linear-gradient(135deg, transparent 5%, #f0f5f5 0) top left,
    linear-gradient(0deg, transparent 0%, #f0f5f5 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.my_card_one_corner .center {
  background: linear-gradient(0deg, transparent 0, #d9e4e5 0) top right,
    linear-gradient(315deg, transparent 0%, #d9e4e5 0) bottom right,
    linear-gradient(135deg, transparent 4.4%, #d9e4e5 0) top left,
    linear-gradient(0deg, transparent 0%, #d9e4e5 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################orange button######################## */

.orange_button {
  background: linear-gradient(0deg, transparent 0, #d46345 0) top right,
    linear-gradient(315deg, transparent 7%, #d46345 0) bottom right,
    linear-gradient(135deg, transparent 7%, #d46345 0) top left,
    linear-gradient(0deg, transparent 0%, #d46345 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.orange_button .center {
  background: linear-gradient(0deg, transparent 0, #eb6440 0) top right,
    linear-gradient(315deg, transparent 5.5%, #eb6440 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #eb6440 0) top left,
    linear-gradient(0deg, transparent 0%, #eb6440 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################signin button######################## */

.signin_button {
  background: linear-gradient(0deg, transparent 0, #ff5f32 0) top right,
    linear-gradient(315deg, transparent 7%, #ff5f32 0) bottom right,
    linear-gradient(135deg, transparent 7%, #ff5f32 0) top left,
    linear-gradient(0deg, transparent 0%, #ff5f32 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.signin_button .center {
  background: linear-gradient(0deg, transparent 0, #4a7473 0) top right,
    linear-gradient(315deg, transparent 5.5%, #4a7473 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #4a7473 0) top left,
    linear-gradient(0deg, transparent 0%, #4a7473 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################green button######################## */
.green_button {
  background: linear-gradient(0deg, transparent 0, #46686a 0) top right,
    linear-gradient(315deg, transparent 7%, #46686a 0) bottom right,
    linear-gradient(135deg, transparent 7%, #46686a 0) top left,
    linear-gradient(0deg, transparent 0%, #46686a 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.green_button .center {
  background: linear-gradient(0deg, transparent 0, #497174 0) top right,
    linear-gradient(315deg, transparent 5.5%, #497174 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #497174 0) top left,
    linear-gradient(0deg, transparent 0%, #497174 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################white button######################## */
.white_button {
  background: linear-gradient(0deg, transparent 0, #F0F5F5 0) top right,
    linear-gradient(315deg, transparent 7%, #F0F5F5 0) bottom right,
    linear-gradient(135deg, transparent 7%, #F0F5F5 0) top left,
    linear-gradient(0deg, transparent 0%, #F0F5F5 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.white_button .center {
  background: linear-gradient(0deg, transparent 0, #000000 0) top right,
    linear-gradient(315deg, transparent 5.5%, #000000 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #000000 0) top left,
    linear-gradient(0deg, transparent 0%, #000000 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################transparent button######################## */
.transparent_button {
  background: linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 7%, #fff 0) bottom right,
    linear-gradient(135deg, transparent 7%, #fff 0) top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.transparent_button .center {
  background: linear-gradient(0deg, transparent 0, #4a7473 0) top right,
    linear-gradient(315deg, transparent 5.5%, #4a7473 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #4a7473 0) top left,
    linear-gradient(0deg, transparent 0%, #4a7473 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

:hover.transparent_button {
  transform: scale(1.1);
}

:hover.transparent_button .center {
  background: linear-gradient(0deg, transparent 0, #eb6440 0) top right,
    linear-gradient(315deg, transparent 5.5%, #eb6440 0) bottom right,
    linear-gradient(135deg, transparent 5.5%, #eb6440 0) top left,
    linear-gradient(0deg, transparent 0%, #eb6440 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################search_input######################## */

.search_input {
  background: linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 7%, #fff 0) bottom right,
    linear-gradient(135deg, transparent 7%, #fff 0) top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.search_input .center {
  background: linear-gradient(0deg, transparent 0, #4a7473 0) top right,
    linear-gradient(315deg, transparent 6%, #4a7473 0) bottom right,
    linear-gradient(135deg, transparent 6%, #4a7473 0) top left,
    linear-gradient(0deg, transparent 0%, #4a7473 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

.search_input_friends {
  background: linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 4%, #fff 0) bottom right,
    linear-gradient(135deg, transparent 4%, #fff 0) top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.search_input_friends .center {
  background: linear-gradient(0deg, transparent 0, #f0f5f5 0) top right,
    linear-gradient(315deg, transparent 3.5%, #f0f5f5 0) bottom right,
    linear-gradient(135deg, transparent 3.5%, #f0f5f5 0) top left,
    linear-gradient(0deg, transparent 0%, #f0f5f5 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

.search_input_chat {
  background: linear-gradient(0deg, transparent 0, #ffffff 0) top right,
    linear-gradient(315deg, transparent 7%, #ffffff 0) bottom right,
    linear-gradient(135deg, transparent 7%, #ffffff 0) top left,
    linear-gradient(0deg, transparent 0%, #ffffff 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.search_input_chat .center {
  background: linear-gradient(0deg, transparent 0, #eff5f5 0) top right,
    linear-gradient(315deg, transparent 6%, #eff5f5 0) bottom right,
    linear-gradient(135deg, transparent 6%, #eff5f5 0) top left,
    linear-gradient(0deg, transparent 0%, #eff5f5 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* ######################################my_input######################## */

.my_input {
  background: linear-gradient(0deg, transparent 0, #cdcdcd 0) top right,
    linear-gradient(315deg, transparent 7%, #cdcdcd 0) bottom right,
    linear-gradient(135deg, transparent 7%, #cdcdcd 0) top left,
    linear-gradient(0deg, transparent 0%, #cdcdcd 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.my_input_error {
  background: linear-gradient(0deg, transparent 0, #ff0000 0) top right,
    linear-gradient(315deg, transparent 7%, #ff0000 0) bottom right,
    linear-gradient(135deg, transparent 7%, #ff0000 0) top left,
    linear-gradient(0deg, transparent 0%, #ff0000 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.my_input .center {
  background: linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 6%, #fff 0) bottom right,
    linear-gradient(135deg, transparent 6%, #fff 0) top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

.my_input_error .center {
  background: linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 6%, #fff 0) bottom right,
    linear-gradient(135deg, transparent 6%, #fff 0) top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

/* #############################intra_login############################################## */

.intra_login {
  background: linear-gradient(0deg, transparent 0, #68a6a6 0) top right,
    linear-gradient(315deg, transparent 7%, #68a6a6 0) bottom right,
    linear-gradient(135deg, transparent 7%, #68a6a6 0) top left,
    linear-gradient(0deg, transparent 0%, #68a6a6 0) bottom left;
  background-size: 55% 55%;
  background-repeat: no-repeat;
}

.intra_login .center {
  background: linear-gradient(0deg, transparent 0, #40b4b4 0) top right,
    linear-gradient(315deg, transparent 6%, #40b4b4 0) bottom right,
    linear-gradient(135deg, transparent 6%, #40b4b4 0) top left,
    linear-gradient(0deg, transparent 0%, #40b4b4 0) bottom left;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

@media (max-height: 600px) {
  .title {
    @apply pt-2 bg-black dgreen;
  }
}

.cor {
  position: relative;
}

.cor:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  border-top: 30px solid white;
  border-right: 30px solid black;
  width: 0;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #eb6440;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
