@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.dred {
    border: solid red 1px
}

.debug {
    border: solid red 1px
}
.dblue {
    border: solid blue 1px
}

.dgreen {
    border: solid green 1px
}


/* .debug >* {
    border: solid green 1px
}
.debug >* >* {
    border: solid blue 1px
} */

/* ###########################My container############################## */

.left{
    background:
        linear-gradient(45deg, transparent 13px, #EB6440 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cttop{
    background:
        linear-gradient(315deg, transparent 8px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.crtop{
    background:
        linear-gradient(45deg, transparent 8px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.crbottom{
    background:
        linear-gradient(125deg, transparent 8px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right{
    background:
        linear-gradient(315deg, transparent 13px, #EB6440 0);
    background-size: 100% 100%;
    background-repeat: no-repeat; /* or absolute */
}

.top{
    background:
        linear-gradient(140deg, transparent 20px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bottom{
    background:
        linear-gradient(40deg, transparent 20px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat; /* or absolute */
}

.ltop{
    background:
        linear-gradient(215deg, transparent 20px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lbottom{
    background:
        linear-gradient(325deg, transparent 20px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat; /* or absolute */
}

.ctleft{
    background:
        linear-gradient(325deg, transparent 8px, #D9E4E5 0);
    background-size: 100% 100%;
    background-repeat: no-repeat; /* or absolute */
}

@media (max-height: 420px) {
    .hide {
      clip-path: polygon(0 0, 0 0, 0 0);
    }
 }

 /* #################################My card################################# */

 .my_card{
    background:
    linear-gradient(0deg, transparent 0, #F0F5F5 0) top right,
    linear-gradient(315deg, transparent 7%, #F0F5F5 0)bottom right,
    linear-gradient(135deg, transparent 7%, #F0F5F5 0)top left,
        linear-gradient(0deg, transparent 0%, #F0F5F5 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
}


.my_card .center{
    background:
    linear-gradient(0deg, transparent 0, #D9E4E5 0) top right,
    linear-gradient(315deg, transparent 6%, #D9E4E5 0)bottom right,
    linear-gradient(135deg, transparent 6%, #D9E4E5 0)top left,
    linear-gradient(0deg, transparent 0%, #D9E4E5 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}

 /* ################################# My card one corner ################################# */

 .my_card_one_corner{
    background:
    linear-gradient(0deg, transparent 0, #F0F5F5 0) top right,
    linear-gradient(315deg, transparent 0%, #F0F5F5 0)bottom right,
    linear-gradient(135deg, transparent 7%, #F0F5F5 0)top left,
        linear-gradient(0deg, transparent 0%, #F0F5F5 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
}


.my_card_one_corner .center{
    background:
    linear-gradient(0deg, transparent 0, #D9E4E5 0) top right,
    linear-gradient(315deg, transparent 0%, #D9E4E5 0)bottom right,
    linear-gradient(135deg, transparent 6%, #D9E4E5 0)top left,
    linear-gradient(0deg, transparent 0%, #D9E4E5 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}



/* ######################################orange button######################## */


.orange_button{
    background:
    linear-gradient(0deg, transparent 0, #D46345 0) top right,
    linear-gradient(315deg, transparent 7%, #D46345 0)bottom right,
    linear-gradient(135deg, transparent 7%, #D46345 0)top left,
    linear-gradient(0deg, transparent 0%, #D46345 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
}

.orange_button .center{
    background:
    linear-gradient(0deg, transparent 0, #EB6440 0) top right,
    linear-gradient(315deg, transparent 5.5%, #EB6440 0)bottom right,
    linear-gradient(135deg, transparent 5.5%, #EB6440 0)top left,
    linear-gradient(0deg, transparent 0%, #EB6440 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}


/* ######################################green button######################## */
.green_button{
    background:
    linear-gradient(0deg, transparent 0, #46686A 0) top right,
    linear-gradient(315deg, transparent 7%, #46686A 0)bottom right,
    linear-gradient(135deg, transparent 7%, #46686A 0)top left,
    linear-gradient(0deg, transparent 0%, #46686A 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat; 
}

.green_button .center{
    background:
    linear-gradient(0deg, transparent 0, #497174 0) top right,
    linear-gradient(315deg, transparent 5.5%, #497174 0)bottom right,
    linear-gradient(135deg, transparent 5.5%, #497174 0)top left,
    linear-gradient(0deg, transparent 0%, #497174 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}

/* ######################################my_input######################## */

.my_input{
    background:
    linear-gradient(0deg, transparent 0, #CDCDCD 0) top right,
    linear-gradient(315deg, transparent 7%, #CDCDCD 0)bottom right,
    linear-gradient(135deg, transparent 7%, #CDCDCD 0)top left,
    linear-gradient(0deg, transparent 0%, #CDCDCD 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
}

.my_input .center{
    background:
    linear-gradient(0deg, transparent 0, #fff 0) top right,
    linear-gradient(315deg, transparent 6%, #fff 0)bottom right,
    linear-gradient(135deg, transparent 6%, #fff 0)top left,
    linear-gradient(0deg, transparent 0%, #fff 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}

/* #############################intra_login############################################## */

.intra_login{
    background:
    linear-gradient(0deg, transparent 0, #68A6A6 0) top right,
    linear-gradient(315deg, transparent 7%, #68A6A6 0)bottom right,
    linear-gradient(135deg, transparent 7%, #68A6A6 0)top left,
    linear-gradient(0deg, transparent 0%, #68A6A6 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
}

.intra_login .center{
    background:
    linear-gradient(0deg, transparent 0, #40B4B4 0) top right,
    linear-gradient(315deg, transparent 6%, #40B4B4 0)bottom right,
    linear-gradient(135deg, transparent 6%, #40B4B4 0)top left,
    linear-gradient(0deg, transparent 0%, #40B4B4 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}
